
@import'./variable/_variable';
@import'./variable/logo';
@import'./variable/about';
@import'./variable/services';
@import'./variable/about2';
@import'./variable/contact';
@import'./variable/footer';
@import'./variable/responsive';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
}
@mixin size($width, $height:$width) {
      width:$width;
      height:$height;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;    
}
.logo__cute{
    height:200px;

    // background-color:white;
    // overflow: hidden;
    margin:-3.8rem 0 0 -3rem ;
}
.logo__cute img{
    height:100%;
    object-fit: contain;
    object-position: center;
}

.list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:-5rem 0 0 6rem;
    &-services,&-contact{
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        padding:1rem 2rem;
    }
    &-services{
        background-color: #1cc5dc;
        color:#0f0e0f;
        font-weight: 500;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.2);

    }
    &-services img, &-contact img{
        margin-right: 1rem;
    }
    &-services a, &-contact a{
        font-size: 1.5rem;
        text-decoration: none;
        color: #0f0e0f;
    }
    &-contact{
        background-color: #aa2ee6;
        color:#0f0e0f;
        font-weight: 500;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
        margin-left: 1rem;
    }
   &-services:hover{
       background-color: #64dfdf;
       transition: all 0.3s ease;
   }
   &-services a >span:hover{
    color:#fafaf6;
   }

}
.list li a{
    margin: 0 5px;
    font-size:1.2rem;
    letter-spacing:1px;
}
a{
    text-decoration: none!important;
}
.main{
      width:100%;
      height:83vh;
      background-image: url(./images/bg3.jpg);
      background-position:center ;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
    //   margin-top:4rem;
    &-btns{
        display: flex;
        // justify-content: space-around;
        margin-left: 2rem;
        // padding-left: 2rem;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);

    }
    &-text{
        position: absolute;
        top: 35rem;
        left: 50%;
        transform: translate(-50%,-50%);
        width:600px;
    }
    &-text h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    &-text p{
        font-size: 1.5rem;
        font-weight: 500;
    }
    &-wrapper {
        height: 30px;
        // margin: 0 auto;
        position: relative;
        // top: 50%;
        // transform: translateY(-50%);
        width: 200px;
        margin-left: 2rem;
        // padding-left: 2rem;
    }
    &_shape {
        fill: transparent;
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
        stroke: rgb(25, 212, 245);
    }
    &-wrapper:hover &_shape {
        -webkit-animation: 0.5s draw linear forwards;
        animation: 0.5s draw linear forwards;
    }
    &_chose{
        color: rgb(19, 1, 1);
        font-family: 'Roboto Condensed';
        font-size: 35px;
        // letter-spacing: 8px;
        line-height: 32px;
        position: absolute;
        top: 50%;
        // left: 50%;
        transform: translate(10%,-40%);
        // text-align: center;
        // top: -25px;
        font-weight: 500;
        border-bottom: 0.7px solid rgb(25, 212, 245);
        background-image: linear-gradient(to left,rgb(43, 241, 255),rgba(208, 54, 255, 0.91));
        text-transform: uppercase;
        display: block;
        color: transparent;
        -webkit-background-clip:text ;
        background-clip:text;
      }
}

 
  @keyframes draw {
    0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 8px;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 2px;
    }
  }
  
 