
.about2{
    margin: -5rem 0 10rem 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../images/bg.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    // flex-direction: column;
}    