.contact{
    margin: 3rem 0 3rem 0;
    &-box-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10rem 0px 30px;
    }
    &-box-title{
        background-color: #ffffff;
        padding: 20px 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        border: 1px solid #e2e2e2;
        & strong {
           color: #2c2c2c;
           font-size: 1.5rem; 
        }
        & p {
            color: #5c5c5c;
            font-weight:400;
            margin: 1rem;
            text-align: center;
            font-size: 1.3rem;
        }
        & span{
            color:#059bce;
        }
    }
}