
.fa-paw{
    color:#5cf39b;
}
.fa-home{
    color:#e0a166;

}
.fa-dog{
    color: #53a5bb;
}
.fa-medal{
    color: #af35a0;
}
.fa-trophy{
    color: #7db155;
}
.fa-heartbeat{
    color: #5fa79a;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
    margin: -6rem 0 0 0 ;
    &-heading{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        & span{
            // color:#21bf73;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 500;
            font-size: 2.5rem;
            background-image: linear-gradient(to top,rgb(86, 248, 65),rgb(40, 223, 153));
            text-transform: uppercase;
            display: block;
            color: transparent;
            -webkit-background-clip:text ;
            background-clip:text;
        }
        & strong{
            color:#303131;
            font-size:2rem;
            letter-spacing: 1px;
            font-weight: 700;
        }
    }

    &-container{
        width:90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        margin: 50px 0px 20px 0px;
        padding-left: 1rem;
      

    }
    &-box{
        display:flex;
        justify-content:center;
        flex-direction:column;
        margin:20px;
        // padding-bottom: 30px;
        & i{
            font-size:3rem;
            margin-bottom: 10px;
            // color:rgb(88, 243, 140);
           
        }
        & p{
            color: #5f5f5f;
            font-size: 1.3rem;
            // margin-bottom: 2rem;

        }
        & strong{
            font-size: 1.5rem;
            font-weight: 600;
            
        }
    }
    
}
